<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EyeCare</title>
    <link rel="icon" href="static/images/Iris_logo.png" type="image/png">
    <link rel="stylesheet" href="static/css/page.css"> 
    
    
</head>
<body>
    <header>
        <div class="banner">
            <img src="static/images/yeuxbaniere2.jpg" alt="Bannière avec des yeux">
        </div>
    </header>
    <div class="title">
        <h1>EyeCare</h1>
    </div>
    
    <!-- Barre de navigation en haut -->
    <div class="navbar">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('FirstReport') }}">First Report</a>
        <a href="{{ url_for('SecondReport') }}">Second Report</a>
    </div>

    <div class="main-content">
        <div class="presentation">
            <br><strong> Why Eye Cancer? </strong>
            <p>Cancer is a formidable disease that can affect any part of the body, including the eyes.

                <br>While eye cancer is less common than other types of cancer, it can have serious consequences if not detected at an early stage. 
                
                That's why screening for eye cancer is of paramount importance. 
                <br>Understanding this disease, its symptoms, and the best screening methods is essential for preserving our vision and ocular health.
                <br><br><strong> Why is early screening essential? </strong>
                
                <p>Early Detection: Eye cancer, likEe all cancers, is easier to treat when detected at an early stage. Therefore, early diagnosis can help save the patient's vision and life.
                
                <br>Prevention of Vision Loss: The symptoms of eye cancer can be subtle, making early detection even more crucial in order to prevent vision loss. Ignoring the symptoms can lead to severe impairment of vision.
                
                <br>Appropriate Treatment: Early diagnosis allows for the prompt initiation of suitable treatment, whether it's surgery, radiotherapy, chemotherapy, or other targeted therapies, depending on the type and stage of cancer.
            </p>
            <strong> Why EyeCare? </strong>
                <p>Because we care about your eyes. EyeCare is an application developed and provided by our team. It's an effective solution for screening eye cancer.
        </div>
    

        <div id="image-upload" style="border: 2px solid #60aad4; padding: 10px; text-align: center;">
            <h2>Eye Cancer image classifier (.png only)</h2>
            <form action="/uploads" method="POST" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    <input type="file" name="image" accept=".png" value="choose a file">
                    <input type="submit" value="submit">
                </label>
            </form>
    
            {% if uploaded_image %}
            <h2>Downloaded image :</h2>
            <!-- img src="{{ url_for('static', filename='uploads/' + uploaded_image) }}" alt="Image"-->
            <img src="/uploads/Ananas.png" alt="image yeux">
            {% endif %}
        </div>
    </div>
    
    <!--FOOTER-->
    <footer class="footer-banner">
        <div class="footer-column">
            <h4>Contact us :</h4>
            <ul>
                <li><a href="mailto:camille.benezech@efrei.net">Camille Benezech</a></li>
                <li><a href="mailto:clarisse.boche@efrei.net">Clarisse Boche</a></li>
                <li><a href="mailto:anne.diveau@efrei.net">Anne Duveau</a></li>
            </ul>
        </div>
    
        <div class="footer-column">
            <div class="footer-navigation">
                <h4>Navigation :</h4>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('FirstReport') }}">First Report</a></li>
                    <li><a href="{{ url_for('SecondReport') }}">Second Report</a></li>
                </ul>
            </div>
        </div>
    
        <div class="footer-column">
            <h4>Social media:</h4>
            <a href="https://www.instagram.com/Efrei_Paris" target="_blank">
                <img src="static/images/instagram.png" alt="Instagram" class="social-icon">
            </a>
            
            <a href="https://www.efrei.fr" target="_blank">
                <img src="static/images/envoyer.png" alt="EFREI Paris" class="social-icon">
            </a>
        </div>
    
        <div class="footer-column">
            <h4>Address:</h4>
            <p>31 avenue de la République, Villejuif</p>
            <h4>Copyright:</h4>
            <p>© 2023 - CCA.DataCamp</p>
        </div>
    </footer>
    
</body>
</html>